style
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
    color: white;
    text-align: center;
    font-size: larger;
    padding: 0px;
}
.footer {
    background-color: #444;
    color: white;
    padding: 10px;
}
.topmenu {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #777;
}
.topmenu li {
    float: left;
}
.topmenu li a {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    margin: 0;
    padding: 40px;
    text-decoration: none;
}
.topmenu li a:hover {
    background-color: rgb(53, 231, 207);
}
.topmenu li a.active {
    color: rgb(255, 236, 240);
    font-size: larger;
    font-weight: bolder;
}
.column {
    float: left;
    padding: 10px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.sidemenu {
    width: 100%;
}
.content {
    width: 100%;
    font-size: larger;
}
.sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding:24;
}
.sidemenu li a {
    margin-bottom: 0px;
    display: block;
    padding: 0px;
    background-color: #eee;
    text-decoration: none;
    color: #666;
}
.sidemenu li a:hover {
    background-color: #555;
    color: white;
}
.sidemenu li a.active {
    background-color: rgb(240, 250, 250);
    color: white;
}
body{background-image: url("../图片/长白山.jpg");opacity: 0.8;background-repeat: no-repeat;background-size: cover;}
p{color: rgb(243, 245, 245);font-size: larger;font-weight: bolder;}
